@model Electronics.Models.Paymente

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/admin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Paymente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cardname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cardname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cardnum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cardnum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Toalamount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Toalamount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cardexp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cardexp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PayemntId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
